* {
    box-sizing: border-box;
}

.float-left {
    float: left;
    width: 200px;
    height: auto;
    margin: 0 1em 1em 0;
}

.float-right {
    float: right;
    margin: 0 0 1em 1em;
    height: auto;
    width: 200px;
}

h2 {
    clear: both;
}

p {
    line-height: 1.5;
}